@font-face {
    font-family: fontGame;
    src: url('../../img/Pony.ttf');
}
.bgGame{
    background: url('../../img/bgGame.png');
    font-family: fontGame;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
}

.playerGame{
	flex-direction: column;
	align-items: center;
}

.think{
	width: 150px;
	height: 150px;
	border: 5px solid #45D994;
	border-radius: 10px;
	background-color: #fff;
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}